<div class="chat-box">
    <div class="ui feed">
        <div class="ui event padded raised segment chat-message">
            <div class="label">
            <i class="user circle icon" style="color: rgb(32,15,33);"></i>
            </div>
            <div class="content" style="margin-left: 1%;">
                <div class="summary" style="color: rgb(32,15,33);">
                    <p class="user" style="color: #f638dc;">
                    Elliot Fu
                    </p> - today at 11:45
                    <div class="extra text">
                        Ours is a life of constant reruns. We're always circling back to where we'd we started, then starting all over again. Even if we don't run extra laps that day, we surely will come back for more of the same another day soon.
                    </div>
                </div>
            </div>
        </div>
        <div class="ui event padded raised segment my-message">
            <div class="label">
            <i class="user circle icon" style="color: rgba(256,256,256,0.8);"></i>
            </div>
            <div class="content" style="margin-left: 1%;">
                <div class="summary" style="color: rgba(256,256,256,0.8);">
                    <p class="user" style="color: #f638dc;">
                    Elliot Fu
                    </p> - today at 11:45
                    <div class="extra text" style="color: rgba(256,256,256,0.6); font-weight: normal;">
                        Ours is a life of constant reruns. We're always circling back to where we'd we started, then starting all over again. Even if we don't run extra laps that day, we surely will come back for more of the same another day soon.
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="ui form">
        <div class="field" style="display: flex;">
            <textarea rows="2" placeholder="Type message..."></textarea>
            <button class="ui icon button send-message">
                <i class="paper plane icon"></i>
            </button>
        </div>
    </input>
    </div>
</div>

