{% extends "index.html" %}

{% block body %}
{% include "nav.html" %}

<div class="content" onloadstart=handleSignIn({{userID}}) onclick=handleSignIn({{userID}})>
    <div class="user_list">
        <h3>Recent user activity:</h3>
        <div class="ui feed" id="usernames">
            {% for user in usernames %}
                <div class="event">
                    <div class="label">
                        <i class="user circle icon" style="color: white;"></i>
                    </div>
                    <div class="content" style="margin-left: 1%;">
                        <div class="summary" style="color: white;">
                            <p class="user" style="color: #f638dc;">
                                {{ user }}
                            </p> signed in
                            <div class="date" style="color: rgba(256,256,256,0.6);">
                                1 Hour Ago
                            </div>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
    <div class="chat_list">
        <div class="ui raised segment create" style="background-color: #5a3d5c">
            <h3>Create your own channel:</h3>
                <a href={{url_for('create_room')}} class="ui icon button button-class" style="background-color: #200f21; color: rgba(256,256,256,0.8); line-height: 1.4285em;">
                    <i class="plus icon"></i>
                </a>
        </div>
        <h3>Join a channel:</h3>
        {% for room in channel_names %}
        <div class="ui raised segment room" style="background-color: #5a3d5c;">
            <div class="detailBox">
                <h3>
                    {{ room.name }}
                </h3>
                <div class="details">
                    <div class="ui info">
                        <i class="users icon" style="color: rgba(256,256,256,0.8);"></i>
                        <p style="color: rgba(256,256,256,0.8); margin-top: 2%;"><span style="color: #f638dc; font-weight: bold;">3</span> participants</p>
                    </div>

                    {% if room.password %}
                        <div class="ui info">
                            <i class="lock icon" style="color: rgba(256,256,256,0.8);"></i>
                            <p style="color: rgba(256,256,256,0.8); margin-top: 2%;">This room requires a password</p>
                        </div>
                    {% else %}
                        <div class="ui info">
                            <i class="lock open icon" style="color: rgba(256,256,256,0.8);"></i>
                            <p style="color: rgba(256,256,256,0.8); margin-top: 2%;">No password needed!</p>
                        </div>
                    {% endif %}
                </div> 
            </div>
            <div>
                <a href={{url_for('room', room_id=room.room_id)}} class="ui right labeled icon button">
                    <i class="arrow circle right icon" style="background-color: #200f21; color: rgba(256,256,256,0.8);"></i>
                    Join room
                </a>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock %}

